@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes floatSlow {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-30px) rotate(5deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

@keyframes floatMedium {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-45px) rotate(-5deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.float-slow {
  animation: floatSlow 12s ease-in-out infinite;
}

.float-medium {
  animation: floatMedium 16s ease-in-out infinite;
}






